#photo-container{
}
#photo{
    position: relative;
    width: 200px;
    margin-top: 5%;
    z-index: 110;
}
#intro{
    background-color: #3a3a3a;
    padding: 150px 10% 100px 10%;
    height: 700px;
    width: 100%;
    text-align: center;

}
body{
    background-color: #ffffff;
    // background-color: #dcdcdc;
    height: 150%;
}
#nav{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.80);
    z-index: 120;
    border: 0px;
    // box-shadow:0px 0px 5px 3px #3a3633;
}

@media screen and (min-width: 992px){
    #nav{
        z-index: 100;
    }
}

#navbar-photo{
    width: 30px;
}
#name{
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
    margin: 0 0 0 0;
    padding: 0 15% 0 15%;
    color: #dcdcdc;
    z-index: 110;
}
#goal{
    height: 500px;
    background-color: #FFFFFF;
}
@media screen and (min-width: 992px){
    .row.vdivide > [class*='col-']:not(:last-child):after {
        background: #e0e0e0;
        width: 1px;
        content: "";
        display:block;
        position: absolute;
        top:0;
        bottom: 0;
        right: 0;
        min-height: 70px;
    }
}
#member{
    background-color: #F5F5F5;
    padding: 5% 10% 5% 10%;
    font-family: 'Montserrat', sans-serif;
}
#member h2{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 7%;
}
#member img{
    width: 200px;
    margin-bottom: 15px;
}

.member-item{
     margin-bottom: 50px;
     ;
}
